@keyframes flying_away {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: scale(2) rotate(10deg) translateX(10px);
  }
}

@keyframes show_and_hide {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.ghost_notes {
  transform-origin: center center;
  animation-duration: 1s;
}

.ghost_notes.hit {
  animation-name: flying_away;
}
.ghost_notes.miss {
  animation-name: show_and_hide;
}

.ghost_notes * {
  fill: green;
}
.ghost_notes.miss * {
  fill: red;
}
