.buttons---btn-primary---Wp1wb {
  background-color: #0091EA;
  background-image: none;
  background-repeat: repeat-x;
  border-color: #0095ce;
  transition: background-color 0.1s ease;
}

.buttons---btn-primary---Wp1wb:hover {
  background-color: #00B0FF;
  background-image: none;
}